.button-container {
  height: 50px;
  border: none;
  border-radius: 0.5rem;
  opacity: 100%;
  font-size: larger;
  font-weight: 500;
  padding: 1rem;
  place-items: center;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-items: center;
  justify-content: center;
  animation-duration: 500ms;
}

.button-container:hover {
  background-color: aqua;
}
