.button-container {
  height: 50px;
  border: none;
  border-radius: var(--border-radius);
  opacity: 100%;
  font-size: larger;
  font-weight: 500;
  padding: 1rem;
  place-items: center;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-items: center;
  justify-content: center;
  animation-duration: 500ms;
  transition:
    background-color 0.3s ease,
    opacity 0.3s ease;
}

.button-container:disabled {
  opacity: 50%; /* Reduce opacity to indicate disabled state */
  background-color: #ccc; /* Light gray background */
  cursor: not-allowed; /* Show "not allowed" cursor */
  color: #666; /* Muted text color */
  box-shadow: none; /* Remove any shadow effects */
}

.button-container:disabled:hover {
  background-color: #ccc;
}
