.app-container {
  display: flex;
  max-height: 100vh;
  height: 100vh;
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(5, minmax(0, 1fr));
  grid-template-columns: repeat(1, minmax(0, 1fr));

  width: 100%;
}

.button-random {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1rem;
}
